@model Swamid.Errorurl.Models.ErrorViewModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@*@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions*@

@*@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = Localizer.GetString(c.Name) })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}*@
@*@{
        @ViewData["Title"]
    }*@

@*<h1>Index</h1>*@

    <div>
        <div class="float-right">
            @foreach (var n in Model.Navigations)
            {
                //var o = 
                <a href="@Url.Action("Index","Home",new {errorurl_code=@Model.Parameters.errorurl_code,errorurl_ts=Model.Parameters.errorurl_ts,errorurl_rp=Model.Parameters.errorurl_rp,
                    errorurl_tid=Model.Parameters.errorurl_tid,errorurl_ctx=Model.Parameters.errorurl_ctx,lang=n.Culture})">
                    <img src="@n.CultureLogo" />@n.CultureText</a>
            }

                

            </div>
            @foreach (var err in Model.LoginError)
            {
                <h2>@err.Header</h2>
                @foreach (var s in err.Body)
                {
                    <p>@Html.Raw(s) </p>
                }
                <p>@Html.Raw(Model.ContactInfo)</p>
                @if (Model.Parameters.HaveDetails())
                {

                    <p>@Html.DisplayFor(model => model.TechnicalInfo)</p>
                    <div class="alert-warning">
                        @*@Html.Encode(Model.Parameters.GetDetails())*@
                        @Html.DisplayNameFor(model => model.Parameters.errorurl_ts): @Html.Raw(Model.Parameters.errorurl_ts)<br />
                        @Html.DisplayNameFor(model => model.Parameters.errorurl_rp): @Html.Raw(Model.Parameters.errorurl_rp)<br />
                        @Html.DisplayNameFor(model => model.Parameters.errorurl_tid): @Html.Raw(Model.Parameters.errorurl_tid)<br />
                        @Html.DisplayNameFor(model => model.Parameters.errorurl_ctx): @Html.Raw(Model.Parameters.errorurl_ctx)                        
                    </div>
                }
            }
        </div>
        
